* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  padding-top: 8px;
  padding-bottom: 11px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 10px 5px -5px rgb(192, 192, 192);
}

.itens {
    display: none;
}
.headTitle{
  display: flex;
  align-items: center

}
.imageCarrousel{
  background-image: url("../imgs/Rectangle 3.png");
  background-size: 100vw;
  background-position: top;
  margin-top: 20px;
  background-repeat: no-repeat;
  display: flex;
  height: 43vw;
  align-content: center;
  justify-content: space-between;
  align-items: center
}

a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    
}

#arrowBack, #arrowForward{
  width: 4vw;
    padding: 0vw 0px;
    background-color: #777777;
    border-radius: 50px;
}
#arrowBack{
  margin-left: 2vw;
}
#arrowForward{
  margin-right: 2vw;
}


.title {
  font-family: "Ropa Sans";
  font-weight: 400;
  font-size: 30px;
  line-height: 32.16px;
  color: #777777;
  
}

.slogan {
  font-family: "Ropa Sans";
  font-style: normal;
  margin: 5px 0px 0px 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #aaaaaa;
}

.sales{
  display:flex;
  flex-direction: column;
  align-items: center;

  }

  .salesRight, .salesLeft{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 30px;
  }
 .priceBox{
  display: flex;
  align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    
 }
 .condition{

   
}
.price{
  font-size: min(7vw,25px);
  z-index:1;
  
}
.condition{
   font-size: min(4vw,16px);
  background-color: green;
  color: white;
  padding: 4px 20px;
  border-radius: 20px;
  z-index: 1;
 }
 .salesRight .priceBox .condition{
  background-color: orangered;
 }

 .description{
  text-align: justify;
  background-color: rgb(163, 163, 163);
  padding: 50px 15px;
  margin-top: -50px;

 }
 .banners{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .bannerIndustrial{
   background-image: url("../imgs/Rectangle\ 11.png");
}
.bannerModern{
  background-image: url("../imgs/Rectangle\ 12.png");
  
}
.bannerClassic{
   background-image: url("../imgs/Rectangle\ 13.png");

 }
 .banners *{
  background-size: cover;
  width: 100vw;
  font-size: min(7vw,32px);
  color: white;
  padding: 5vw 0px;
  text-align: center;
  margin-bottom: 25px;
  
}
.bannerStyle{
 color: black;
}
footer{
  display: flex;
  background-color: rgb(56, 56, 56);
    flex-direction: column;
    align-items: center;
}
.mapImage{
  width: 66vw;
  margin: 20px 0px;
}
.aboutMe{
  text-align: center;
  color: white;
  font-size: min(4.5vw,22px);

}
.aboutMe p:last-of-type{
  margin:10px 0px
}
.social{
  width: 8vw;
  margin: 0px 10px 30px;
}

@media (min-width:480px){
  header{

    justify-content: space-between;
  }
  header *{
    margin: 0px 25px;
  }
  .sales{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .salesLeft, .salesRight{
    width: 44vw;
  }

  footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .mapImage{
    width: 43vw;
  }
  .aboutMe{
    font-size: min(3.5vw,19px);
  }

  .social{
    width: 4vw;
  }
}